    div::selection,
      i::selection {background-color: transparent;}
  input::selection {
     background-color: #222222;
     color: #fff;
    }

body {
    margin: 30px;
    background: #222222;
    font-family: 'Ubuntu', sans-serif;
}

.color_white {color: #ffffff !important;}

.color_black {color: #222222 !important;}

.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* create task button */
.create_task {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-size: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px;
}

.create_task div:first-child {
    margin-right: 10px;
}

.create_task:hover {
    transition: 0.3s;
    cursor: pointer;
    border: 1px solid #fff;
}
/* create task button */

/* header */
.app_name {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
/* header */


/* date and time */
.date_time {
    display: flex;
    align-items: center;
}

.date {
    font-size: 20px;
}
.month {
    display: flex;
}
.time {
    display: flex;
    font-size: 52px;
}
/* date and time */




.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}




/* tasks */

label {
    display: flex;
}


.task {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.checkbox_container {
    width: 70%;
}

.checkbox_container input[type=text] {
    background: transparent;    
    border: none;
    outline: none;
    font-size: 25px;
    color: #fff;
}

.checkbox_container input[type=checkbox] {
    position: absolute;
    height: 0px;
    width: 0px;
    opacity: 0;
    cursor: pointer;
}

.checkmark:hover {
    cursor: pointer;
}

.checkbox_container span {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.checkbox_container .checkmark:after {
    content: "";
    display: none;
}

.checkbox_container input[type=checkbox]:checked ~ .checkmark:after {
    display: block;
}

.checkbox_container .checkmark:after {
    margin-left: 10px;
    margin-top: 6px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checked {
    text-decoration: line-through;
    color: #fff;
}


