    div::selection,
    img::selection {background-color: transparent;}

  input::selection {
     background-color: #222222;
     color: #fff;
    }

html{height: 96%;}
body {
    height: 96%;
    margin: 30px;
    background: #222222;
    font-family: 'Ubuntu', sans-serif;
}

.main_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content{
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}


/* header */
.app_name {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
/* header */


/* date and time */
.date_time {
    display: flex;
    align-items: center;
}

.date {
    font-size: 20px;
}
.month {
    display: flex;
}
.time {
    margin-left: 5px;
    display: flex;
    font-size: 52px;
    color: #fff;
}
/* date and time */

.tasks_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

/* tasks */
.task {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
/* tasks */


/* custom checkbox */

label {display: flex;}
.checkbox_container {width: 70%;}

.checkbox_container input[type=text] {
    background: transparent;    
    border: none;
    outline: none;
    font-size: 25px;
    color: #fff;
}

.checkbox_container input[type=checkbox] {
    position: absolute;
    height: 0px;
    width: 0px;
    opacity: 0;
    cursor: pointer;
}

.checkmark {cursor: pointer;}

.checkbox_container span {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.checkbox_container .checkmark:after {
    content: "";
    display: none;
}

.checkbox_container input[type=checkbox]:checked ~ .checkmark:after {display: block;}

.checkbox_container .checkmark:after {
    margin-left: 10px;
    margin-top: 6px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checked {
    text-decoration: line-through;
    color: #fff;
}

/* custom checkbox */


/* add and remove btns */
.remove {cursor: pointer;}
.add_task_btn {
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.add_icon {
    margin-right: 5px;
    display: flex;
    align-items: center;
}
.add_caption::selection {background: transparent;}
/* add and remove btns */

/* footer */
.footer {flex: 0 0 auto;}

.footer_links {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    align-items: center;
}
a:hover {text-decoration: underline;}

.footer_links img {
    width: 30px;
    height: 30px;
}

.telegram,
.github,
.instagram {
    margin-left: 5px;
    font-size: 18px;
}
.git_block {margin: 0 30px;}
/* footer */


